html,
body {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

button {
  font-family: "Montserrat", sans-serif;
  border: 1px solid;
  padding: 1em 2em;
  border-radius: 2em;
  font-size: 0.8em;
  transition: all 0.3s ease;
}

button:hover {
  cursor: pointer;
  background-color: white;
}

button:active {
  background-color: #bcbcbc;
  color: white;
}

h1 {
  text-decoration: underline;
}

/***************************************** Login design ***********************************************/

form {
  font-size: 1.3em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.3em 0;
}

form label:hover {
  cursor: pointer;
}

#apiKey,
.border-contact {
  margin-top: 0.3em;
  height: 1.5em;
  border-radius: 2em;
  font-size: 1em;
  padding: 0 1em;
  border: 1px solid;
}

#submitApiKey {
  margin-top: 1.3em;
}

/***************************************** Contact design ***********************************************/

#contact {
  display: flex;
  background-color: #bcbcbc;
  justify-content: space-around;
  align-items: center;
  margin: 0.9em 1em;
  padding: 0.4em 1em;
  border-radius: 2em;
  font-size: 0.8em;
}

#contact img {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  padding-right: 0.5em;
}

#buttons {
  display: flex;
  justify-content: center;
}

#buttons button {
  margin: 0 0.8em;
}

/***************************************** Add contact design ***********************************************/

.border-contact,
#choose-avatar {
  margin: 0.7em 0;
  display: block;
}

#choose-avatar {
  font-size: 0.8em;
}
